@media (max-width:1281px) {
    .content-background {
        right: 60px;
    }
    .content-about {
        font-size: 16px;
        padding: 0 60px 0 0;
    }
    .content-box {
        max-width: 492px;
    }
    .content-title {
    }
    /*event*/
    .event-title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .event-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 12px;
    }
    .event-card-item {
        height: 309px;
    }
    .card01 {
        width: 100%;
        background-image: url(../images/event-card-image-response/event-card01.png);
    }
    .card02 {
        width: 100%;
        background-image: url(../images/event-card-image-response/event-card02.png);
    }
    .card03 {
        grid-column: 1/3;
        height: 336px;
        background-image: url(../images/event-card-image-response/event-card03.png);
    }
    .event-card-gradient {
        padding: 4px 30px 0 24px;
    }
    .event-card-title {
        font-size: 16px;
        display: inline-block;
        width: 140px;
    }
    .event-card-btn {
        display: none;
    }
    .event-btn-add {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        background: url(../images/icons/event-btn-add.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    .event-card-theme {
        font-size: 12px;
        left: 0;
        right: auto;
        padding: 6px 16px;
    }
}
@media (max-width: 1050px) {
    .content-background {
        width: 60%;
        right: 100px;
    }
    .bg-girl {
        max-width: 740px;
        left: -60px;
    }
    .content-box {
        max-width: 350px;
    }
    .content-title {
        font-size: 26px;
    }
    .content-title-traning {
        font-size: 26px;
        letter-spacing: 0.01em;
    }
    .content-about {
        font-size: 16px;
        padding: 0 60px 0 0;
    }
    .content-text {
        margin-bottom: 43px;
    }
    .content-arrow {
        margin-top: 46px;
        width: 39px;
        height: 40px;
    }
    .content-arrow img {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 980px) {
    .content-background {
        width: 55%;
        right: 140px;
    }
    .bg-girl {
        max-width: 672px;
    }
    /* footer */
    footer {
        margin-top: 76px;
    }
    .footer-cover {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 48px;
        row-gap: 29px;
        margin-bottom: 29px;
    }
    .footer-item {
        justify-content: space-between;
        width: 100%;
    }
    .footer-nav {
        gap: 26px;
    }
    .footer-nav a {
        font-size: 12px;
    }
    .footer-social {
        gap: 33px;
    }
    .footer-social-email {
        font-size: 12px;
    }
    .footer-fb-icon {
        margin-left: 23px;
    }
    .footer-text {
        font-size: 10px;
    }
}
@media (max-width: 800px) {
    body {
        font-size: 12px;
    }
    .container {
        padding-left: 9px;
        padding-right: 10px;
        position: relative;
    }
    /* header */
    .header {
        padding-top: 0;
        margin-bottom: 21px;
    }
    .header-item {
        gap: 56px;
    }
    .header-burger-menu {
        display: block;
    }
    .header-logo img{
        width: 78px;
        height: 24px;
    }
    .header-item nav{
        display: none;
    }
    .header-social ul {
        gap: 20px;
    }
    .header-social a {
        width: 26px;
        height: 26px;
    }
    /* content bg */
    .content {
        padding-top: 26px;
        margin-bottom: 104px;
    }
    
    .content-background {
        max-width: 359px;
        max-height: 100%;
        bottom: 0;
        right: 1px;
        gap: 15px;
    }
    .bg-girl {
        max-width: 399px;
        width: 120%;
        height: auto;
        bottom: 0;
        left: -41px;
    }
    .gradient-second {
        flex-basis: 50%;
    }
    /* event */
    .event-title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .event-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 12px;
    }
    .event-card-item {
        height: 309px;
    }
    .card01 {
        width: 100%;
        background-image: url(../images/event-card-image-response/event-card01.png);
    }
    .card02 {
        width: 100%;
        background-image: url(../images/event-card-image-response/event-card02.png);
    }
    .card03 {
        grid-column: 1/3;
        height: 336px;
        background-image: url(../images/event-card-image-response/event-card03.png);
    }
    .event-card-gradient {
        padding: 4px 30px 0 24px;
    }
    .event-card-title {
        font-size: 16px;
        display: inline-block;
        width: 140px;
    }
    .event-card-btn {
        display: none;
    }
    .event-btn-add {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        background: url(../images/icons/event-btn-add.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    .event-card-theme {
        font-size: 12px;
        left: 0;
        right: auto;
        padding: 6px 16px;
    }
    /* schedule */
    .schedule {
        margin-bottom: 96px;
    }
    .schedule-header {
        margin-top: 94px;
        margin-bottom: 18px;
    }
    .schedule-title {
        font-size: 26px;
    }
    .schedule-date {
        font-size: 16px;
        padding-top: 10px;
    }
    .schedule-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  332px 332px 332px;
    }
    .schedule-grid-item {
        padding-top: 20px;
    }
    .schedule-grid-date {
        font-size: 16px;
        top: 5px;
        right: 24px;
    }
    .schedule-grid-title {
        font-size: 16px;
        margin-top: 37px;
        margin-bottom: 20px;
    }
    .schedule-grid-item:nth-child(1) {
       grid-column: 1/ 2;
       grid-row: 1 / 2;
       padding-top: 188px;
       padding-left: 24px;
    }
    .schedule-grid-item:nth-child(2) {
       grid-column: 2 / 2;
       grid-row: 1 / 2;
       padding-top: 50px;
       padding-left: 28px;
    }
    .schedule-grid-item:nth-child(3) {
       grid-column: 1 / 2;
       grid-row: 2 / 3;
       padding-top: 170px;
       padding-left: 22px;
    }
    .schedule-grid-item:nth-child(4) {
       grid-column: 2 / 2;
       grid-row: 2 / 3;
       padding-top: 190px;
       padding-left: 20px;
    }
    .schedule-grid-item:nth-child(5) {
       grid-column: 1 / 2;
       grid-row: 3 / 4;
       padding-top: 205px;
       padding-left: 23px;
    }
    .schedule-grid-item:nth-child(6) {
       grid-column: 2 / 2;
       grid-row: 3 / 4;
       padding-top: 185px;
       padding-left: 22px;
    }
    .schedule-grid-item:hover {
        border: 1px solid transparent;
        background:rgba(243, 243, 243, 0.5);
        box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
        padding-top: 80px;
    }
    
.schedule-grid-item.active {
    background: linear-gradient(
180deg, rgba(251, 241, 56, 0.7) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgb(186 180 69 / 20%);
    border: none;
    padding-top: 40px;}
    /* subacribe */
    .subscribe {
        padding-bottom: 40px;
    }
    .subscribe-title {
        font-size: 26px;
        max-width: 200px;
        margin-top: 17px;
        line-height: 32px;
        margin-bottom: 51px;
    }
    .subscribe-title::before {
        width: 31px;
        height: 31px;
        bottom: 46px;
        left: -13px;
    }
    .subscribe-form {
        flex-wrap: wrap;
        max-width: 340px;
        padding-left: 5px;
    }
    .subcribe-input {
        font-size: 18px;
        padding: 18px 10px 17px 24px;
    }
    .subscribe-btn {
        order: 1;
        flex-basis: 100%;
        padding: 20px 20px 20px 0;
    }
    .subscribe-agreement {
        margin-bottom: 32px;
    }
    /* company-about */
    .company {
        margin-top: 95px;
    }
    .company-about-title {
        font-size: 26px;
    }
    .company-about-text {
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 31px;
    }
    .company-signUp {
        padding: 21px 46px 20px 45px;
    }
    .company-bg {
        max-height: 227px;
        width: 50%;
    }
    .company-profit {
        margin-top: 40px;
        flex-wrap: wrap;
        column-gap: 146px;
        row-gap: 5px;
    }
    .company-profit-title {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .company-profit-text {
        font-size: 16px;
    }
    .company-profit-cover:nth-child(n) {
        flex-basis: 225px;
    }
    /* modal-burger-menu */
    .modal-burger {
        position: absolute;
        background: rgba(43, 53, 65, 0.4);
        width: 100%;
        height: 100%;
    }
    .modal-burger-cover {
        max-height: 331px;
        background: #F3F3F3;
        padding: 13px 10px 10px 10px;
    }
    .modal-burger-icon {
        display: flex;
        justify-content: space-between;
        max-width: 730px;
        
    }
    .modal-burger-close {
        background: url(../images/icons/signUp-popUp-close.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        border: none;
    }
    .header-nav-modal {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-top: 40px;
        margin-bottom: 20px;
        row-gap: 22px;
        max-width: 730px;
    }

    .header-nav-modal li {
        width: 100%;
        border-bottom: 1px solid rgba(43, 53, 65, .2);
        padding-bottom: 23px;
    }
    .header-nav-modal li:last-child {
        border: none;
    }
    .header-nav-modal a {
        text-decoration: none;
        font-size: 16px;
        color: #2B3541;
        font-weight: 400;
    }
    .burger-modal-social ul{
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding-left: 0;
        gap: 30px;
        max-width: 730px;
    }
    .burger-modal-social a {
        width: 25px;
        height: 25px;
    }
    #modal-burger {
        top: -2000px;
    }
    footer {
        margin-top: 82px;
    }
}
@media (max-width: 620px) {
    .company-profit {
        column-gap: initial;
        justify-content: space-between;
    }
    .company-box {
        flex-direction: column-reverse;
    }
    .company-about {
        width: 100%;
    }
    .company-bg {
        width: 100%;
        max-height: initial;
    }
}
@media (max-width: 580px) {
    .content-box {
        max-width: 500px;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
    }
    .content-background {
        position: relative;
        height: 460px;
        width: 150%;
        max-width: 500px;
    }
    .bg-girl {
        left: initial;
        width: 150%;
        max-width: 510px;
    }
    .card01 {
        background-image: url(../images/event-card-image/event-card-image01.png);
    }
    .card02 {
        background-image: url(../images/event-card-image/event-card-image02.png);
    }
    .card03 {
        background-image: url(../images/event-card-image-response/event-360card03.png);
    }
}
@media (max-width: 500px) {
    .footer-item {
        flex-direction: column;
        align-items: center;
        gap: 41px;
    }
   .schedule-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
   .schedule-grid-item:nth-child(n) {
       padding-top: 0;
       padding-left: 10%;
    }
    .schedule-grid-item:nth-child(n):hover {
        height: 180px;
    }
    .schedule-grid-item.active {
        height: 180px;
    }
    .schedule-grid-item {
        height: 110px;
        width: 100%;
    }
    .schedule-grid-item>div {
        display: flex;
        position: relative;
        padding-top: 54px;
    }
    .schedule-grid-item:nth-child(1) img{
        width: 39px;
        height: 39px;
    }
    .schedule-grid-item:nth-child(2) img{
        width: 34px;
        height: 53px;
    }
    .schedule-grid-item:nth-child(3) img{
        width: 23px;
        height: 45px;
    }
    .schedule-grid-item:nth-child(4) img{
        width: 39px;
        height: 37px;
    }
    .schedule-grid-item:nth-child(5) img{
        width: 46px;
        height: 25px;
    }
    .schedule-grid-item:nth-child(6) img{
        width: 35px;
        height: 40px;
    }
    .schedule-grid-text {
        position: absolute;
        left: 20%;
    }
    .schedule-grid-title {
        margin-top: 15px;
    }
    .content-arrow {
       display: none;
    }
    .content {
        gap: 30px;
        margin-bottom: 82px;
    }
    .content-background {
        max-width: 430px;
        height: 380px;
    }
    .bg-girl {
        max-width: 424px;
    }
}
@media (max-width: 400px) {
    .content-background {
        height: 340px;
    }
    .bg-girl {
        max-width: 360px;
    }
    .event-card {
        gap: 10px;
    }
    .card01 {
        background-image: url(../images/event-card-image-response/event-360card01.png);
    }
    .card02 {
        background-image: url(../images/event-card-image-response/event-360card02.png);
    }
    .card03 {
        background-image: url(../images/event-card-image-response/event-360card03.png);
    }
    .event-card-gradient {
        padding: 4px 30px 0 19px;
    }
    .event-card-title {
        width: 114px;
    }
    .schedule {
        margin-bottom: 80px;
    }

}
@media (max-width:360px) {
    .container {
        padding-left: 8px;
        padding-right: 9px;
    }
    .content {
        padding-top: 27px;
    }
    .content-about-link {
        width: 100%;
    }
    .content-background {
        max-width: 340px;
        width: 100%;
        max-height: 320px;
    }
    .bg-girl {
        max-width: 339px;
    }
    .company {
        margin-top: 83px;
    }
    .company-information {
        position: relative;
        height: 1000px;
    }
    .company-about-text {
        margin-bottom: 14px;
    }
    .company-bg {
        position: absolute;
        bottom: 0;
    }
    .company-signUp {
        position: absolute;
        top: 697px;
        width: 100%;
    }
    .company-profit {
        margin-top: 0;
    }
    footer {
        margin-top: 46px;
    }
    .footer-cover {
        padding-top: 43px;
        row-gap: 8px;
        margin-bottom: 20px;
    }
    .footer-item {
        gap: 42px;
    }
    .footer-nav {
        gap: 48px;
        margin: 0;
    }
    .footer-social {
        gap: 153px;
    }
    .footer-text {
        flex-direction: column;
        align-items: center;
    }
}